@import "font-awesome/font-awesome.less";
/* ========================================================================
   Custom fonts
 ========================================================================== */
@import "sf-webfont.less";
/* ========================================================================
   variables
 ========================================================================== */
@color-blue: #4a90e2;
@color-grey: #67687a;
@color-blue-url: #4a90e2;
@color-light-grey: #efefef;
@color-grey-line: rgba(151, 151, 151, 0.2);
@grey-button-border: #979797;
@grey-text-light: #9cafc3;
/* ========================================================================
   Custom styles
 ========================================================================== */
body,
html {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: 'San Francisco', sans-serif;
    color: @color-grey;

    & > div > hr {
        height: 1px;
        background-color: @color-grey-line;
        margin: 0;
        border: 0;
    }
}

a {
    color: @color-blue-url;
}

#container {
    width: 100%;
}

button {
    border: 0;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn,
input {
    &:active,
    &:focus {
        outline: 0 !important;
    }
}

header {
    width: 100%;
    padding-top: 38px;
    padding-bottom: 32px;

    .logo {
        div:first-child {
            font-size: 22px;
            font-weight: 700;
            line-height: 20px;
            color: @color-blue;
        }

        div:last-child {
            font-size: 12px;
            color: @color-grey;

            p {
                display: inline;
                margin-top: 2px;
                margin-bottom: 0;
                margin-right: 5.5px;
            }
        }
    }

    .search-or-ask {
        input[name=ask] {
            width: 390px;
            height: 32px;
            border-radius: 16px 0 0 16px;
            border: 0;
            background-color: @color-light-grey;
            padding-right: 16px;
            padding-left: 16px;
        }

        input[type=submit] {
            width: 166px;
            height: 32px;
            border-radius: 16px;
            background-image: linear-gradient(to top, #4167e8, #53a0fd 48%, #7cd1f9);
            border: 0;
            color: #fff;
            margin-left: -16px;

            &:active,
            &:hover {
                background-image: linear-gradient(to bottom, #4167e8, #53a0fd 48%, #7cd1f9);
            }
        }
    }

    .login-button {
        text-align: right;

        a {
            font-size: 16px;
            color: @color-blue;
            line-height: 32px;
        }
    }
}

.maincontent {
    display: flex;

    .leftcontent {
        border-right: solid 1px @color-grey-line;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 60px;

        & > * {
            margin-right: 24px;
        }
        //flex-basis: 65%;
        //display: flex;
        //flex-direction: column;
        padding-top: 39px;

        .video-playlist {
            & > .video-box {
                box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
            }

            .video-box {
                iframe {
                    border: 0;
                    display: none;

                    &.visible {
                        display: block;
                    }
                }

                .video-title {
                    padding: 34px 28px 0 38px;
                    margin: 0;

                    .userpic {
                        width: 40px;
                        height: 40px;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    .video-info {
                        margin-right: auto;
                        margin-left: 17px;

                        .title {
                            font-size: 22px;
                            font-weight: 700;
                            color: @color-grey;
                            line-height: 24px;
                        }

                        .name-and-views {
                            margin-top: 2px;

                            a {
                                font-size: 14px;
                                color: @color-blue;
                            }

                            p {
                                display: inline;
                                margin-left: 11px;
                                font-size: 14px;
                            }
                        }
                    }

                    .video-answer-button {
                        width: 166px;
                        height: 46px;
                        border-radius: 23px;
                        background-image: linear-gradient(to bottom, #b4ec51, #58cf29);
                        text-align: center;
                        line-height: 32px;
                        font-size: 16px;
                        color: #fff;

                        &:active,
                        &:hover {
                            background-image: linear-gradient(to top, #b4ec51, #58cf29);
                        }
                    }
                }

                .video-tags {
                    padding: 37px 28px 0 38px;
                    margin: 0;

                    .tags-and-more {
                        .tags {
                            a {
                                font-size: 16px;
                                color: @color-grey;
                                margin-right: 8px;

                                img {
                                    margin-left: 21px;
                                    width: 17px;
                                    height: 17px;
                                }
                            }
                        }

                        .video-show-more {
                            font-weight: 100;
                            color: @grey-text-light;
                        }
                    }

                    .video-share {
                        padding-right: 22px;

                        a {
                            color: @color-grey;
                            font-size: 18px;
                            font-weight: 100;

                            &:first-child {
                                margin-right: 24px;
                            }

                            .fa {
                                margin-right: 15px;
                            }
                        }
                    }
                }

                .video-comments {
                    padding: 40px 28px 31px 38px;
                    margin-bottom: 41px;

                    & > a {
                        color: @color-grey;
                        font-size: 14px;
                        margin-bottom: 22px;
                        display: inline-block;
                    }

                    .video-comment {
                        font-weight: bold;
                        margin-bottom: 10px;

                        a {
                            font-size: 16px;
                            color: @grey-text-light;
                            font-weight: normal;
                            margin-left: 9px;
                        }

                        p {
                            display: inline;
                            font-weight: normal;
                            margin-left: 9px;
                            color: @color-grey;
                        }
                    }

                    .video-add-comment {
                        margin: 60px 0 0;

                        a {
                            font-weight: 100;
                            font-size: 16px;
                            color: @color-grey;
                        }

                        div {
                            color: @color-grey;
                            margin-right: 70px;
                        }
                    }
                }
            }

            .video-answwers {
                .video-box {
                    overflow: hidden;
                    text-align: center;

                    iframe {
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    .rightcontent {
        .simillar-questions {
            h2 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .simillar-question {
                margin-bottom: 20px;

                .thumb {
                    display: inline-block;
                    width: 166px;
                    height: 115px;
                    border-radius: 3px;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        max-height: auto;
                        opacity: 0.2;
                        transition: 400ms;

                        &:active,
                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                .question-info {
                    margin-left: 31px;
                    display: inline-block;
                    width: 153px;
                    vertical-align: top;

                    h3 {
                        margin-top: 0;
                        font-size: 16px;
                        font-weight: 700;
                    }

                    .views {
                        display: inline-block;
                        width: 153px;
                        font-size: 14px;
                    }

                    .author {
                        display: inline-block;
                        margin-top: 8px;
                        font-size: 16px;

                        img {
                            height: 26px;
                            width: 26px;
                            border-radius: 50%;
                            margin-right: 11px;
                        }
                    }
                }
            }

            .more-questions {
                display: block;
                margin: 30px auto;
                width: 191px;
                height: 50px;
                border-radius: 100px;
                border: solid 1px @grey-button-border;
                line-height: 49px;
                text-align: center;
                color: @color-grey;
                transition: 400ms;

                &:active,
                &:hover {
                    text-decoration: none;
                    background-color: @color-grey;
                    color: #fff;
                }
            }
        }
    }
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;

    .logo {
        div:first-child {
            font-size: 22px;
            font-weight: 700;
            line-height: 20px;
            color: @color-blue;
        }

        div:last-child {
            font-size: 12px;
            color: @color-grey;

            p {
                display: inline;
                margin-top: 2px;
                margin-bottom: 0;
                margin-right: 5.5px;
            }
        }
    }
    .bottom-menu{
      li{
        display: inline-block;
        margin-right: 54px;
        a{
          color: @grey-text-light;
        }
        .copyright{
          color: @color-grey;
        }
      }
    }
}
