@import "font-awesome/font-awesome.less";
/* ========================================================================
   Custom fonts
 ========================================================================== */
@import "sf-webfont.less"; ///////////////////////   Variables ////////////////////////////////////////
@color-blue: #4a90e2;
@color-grey: #67687a;
@color-light-grey: #efefef;
@color-grey-line: rgba(151, 151, 151, 0.2); ////////////////////////////////////////////////////////////////////////////
/* ========================================================================
   Custom styles
 ========================================================================== */
body,
html {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: 'San Francisco', sans-serif;
    color: @color-grey;

    & > div > hr {
        height: 1px;
        background-color: @color-grey-line;
        margin: 0;
        border: 0;
    }
}

#container {
    width: 100%;
}

button {
    border: 0;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn,
input {
    &:active,
    &:focus {
        outline: 0 !important;
    }
}

header {
    width: 100%;
    padding-top: 38px;
    padding-bottom: 32px;

    .logo {
        div:first-child {
            font-size: 22px;
            font-weight: 700;
            line-height: 20px;
            color: @color-blue;
        }

        div:last-child {
            font-size: 12px;
            color: @color-grey;

            p {
                display: inline;
                margin-top: 2px;
                margin-bottom: 0;
                margin-right: 5.5px;
            }
        }
    }

    .search-or-ask {
        input[name=ask] {
            width: 390px;
            height: 32px;
            border-radius: 16px 0 0 16px;
            border: 0;
            background-color: @color-light-grey;
            padding-right: 16px;
            padding-left: 16px;
        }

        input[type=submit] {
            width: 166px;
            height: 32px;
            border-radius: 16px;
            background-image: linear-gradient(to top, #4167e8, #53a0fd 48%, #7cd1f9);
            border: 0;
            color: #fff;
            margin-left: -16px;

            &:active,
            &:hover {
                background-image: linear-gradient(to bottom, #4167e8, #53a0fd 48%, #7cd1f9);
            }
        }
    }

    .login-button {
        text-align: right;

        a {
            font-size: 16px;
            color: @color-blue;
            line-height: 32px;
        }
    }
}

.maincontent {
    display: flex;

    .leftcontent {
        border-right: solid 1px @color-grey-line;
        padding-left: 0;

        & > * {
            //margin-right: 24px;
        }
        //flex-basis: 65%;
        //display: flex;
        //flex-direction: column;
        padding-top: 39px;

        .video-box {
            iframe {
                border: 0;
                display: none;

                &.visible {
                    display: block;
                }
            }
        }

        .video-title {
            padding: 34px 28px 0 38px;

            .userpic {
                width: 40px;
                height: 40px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .video-info {
                margin-right: auto;
                margin-left: 17px;

                .title {
                    font-size: 22px;
                    font-weight: 700;
                    color: @color-grey;
                    line-height: 24px;
                }

                .name-and-views {
                    margin-top: 2px;

                    a {
                        font-size: 14px;
                        color: @color-blue;
                    }

                    p {
                        display: inline;
                        margin-left: 11px;
                        font-size: 14px;
                    }
                }
            }

            .video-answer-button {
                width: 166px;
                height: 46px;
                border-radius: 23px;
                background-image: linear-gradient(to bottom, #b4ec51, #58cf29);
                text-align: center;
                line-height: 32px;
                font-size: 16px;
                color: #fff;

                &:active,
                &:hover {
                    background-image: linear-gradient(to top, #b4ec51, #58cf29);
                }
            }
        }
    }

    .rightcontent {
        .simillar-questions {
            h2 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .simillar-question {
                margin-bottom: 20px;

                .thumb {
                    display: inline-block;
                    width: 166px;
                    height: 115px;
                    opacity: 0.2;
                    border-radius: 3px;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        max-height: auto;
                    }
                }

                .question-info {
                    margin-left: 31px;
                    display: inline-block;
                    width: 153px;
                    vertical-align: top;

                    h3 {
                        margin-top: 0;
                        font-size: 16px;
                        font-weight: 700;
                    }

                    .views {
                        display: inline-block;
                        width: 153px;
                        font-size: 14px;
                    }

                    .author {
                        display: inline-block;
                        margin-top: 8px;
                        font-size: 16px;

                        img {
                            height: 26px;
                            width: 26px;
                            border-radius: 50%;
                            margin-right: 11px;
                        }
                    }
                }
            }
        }
    }
}
